::-webkit-scrollbar {
  display: none;
  background-color: #444;
  opacity: 0.5;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #444;
  -webkit-border-radius: 10px;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  margin: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #999;
}

* {
  font-family: Noto sans TC;
  outline: none;
}

html, body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px;
  padding: 0px;
}

.save_btn {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}
.save_btn:hover {
  background-color: #bbb;
}

.edit-con {
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  background-color: #66BAB7;
  box-sizing: border-box;
  bottom: -100px;
  width: 100%;
  max-width: 600px;
  transition: 0.8s;
  position: fixed;
}

.edit-top {
  width: 100%;
  height: 20px;
}

.go-up {
  width: 20%;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 10px;
  cursor: pointer;
}

.bar {
  width: 80%;
  height: 12%;
  border-radius: 5px;
  background-color: #fff;
}

.edit-region {
  height: 80px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn {
  margin-left: 25px;
  margin-right: 25px;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
  transition: 1s;
}
.btn:hover {
  -webkit-filter: brightness(0.7);
}

.btn-name {
  user-select: none;
  transform: translateX(27%) translateY(25%);
  width: 50px;
  height: 50px;
  font-size: 37px;
  text-align: center;
  color: #fff;
}

.add-newpage {
  background-color: #DB4D6D;
}

.remove-page {
  background-color: #FC9F4D;
}

.save-pdf {
  background-color: #7BA23F;
}

.add-note {
  background-color: #89916B;
}

.back-con {
  background-image: linear-gradient(to bottom, #434343 0%, black 200%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-con {
  width: 80%;
  padding: 30px;
  padding-bottom: 0px;
}

.paper {
  font-size: 0;
  overflow: hidden;
  opacity: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  width: 100%;
  height: 0;
  padding-bottom: 141%;
}

.selectable {
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  background-color: #fff;
}
.selectable:hover {
  background-color: #fff;
  -webkit-filter: brightness(0.9);
}

.paper-block.top {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  height: 0;
  padding-bottom: 15%;
}

.big-title.text-box {
  overflow: hidden;
  position: absolute;
  max-width: 100vh;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.text-box {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paper-block.cue {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  height: 0;
  padding-bottom: 100%;
  border-right: 2px solid #aaa;
}

.paper-block.notes {
  display: inline-block;
  width: 75%;
  height: 0;
  padding-bottom: 100%;
}

.paper-block.summary {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  border-top: 2px solid #aaa;
}

p.note-row {
  margin: 0;
  color: #333;
  padding: 5px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  font-size: 12pt;
  width: 80%;
  height: 100px;
}

.inner-block {
  overflow: hidden;
  position: absolute;
  width: 75%;
  height: auto;
}

.cue-row {
  font-weight: bold;
  font-size: 14pt;
  text-align: center;
  width: 26%;
  height: 100px;
  box-sizing: border-box;
}

.tooltip {
  display: none;
  width: 100px;
  height: 50px;
  top: 0%;
  left: 0%;
  position: absolute;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #333;
  cursor: pointer;
}

.tip-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  user-select: none;
  text-align: center;
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 20px;
}