//- button.save_btn 存檔
.back-con
  .paper-con
    .paper#page1
      .paper-block.top.selectable
        .big-title.text-box(contenteditable="true") title
      .paper-block.cue
        .inner-block
      .paper-block.notes
        .inner-block
          p.note-row.text-box.selectable(contenteditable="true") note
      .paper-block.summary
  .tooltip
.edit-con
  .edit-top
    .go-up
      .bar
      .bar
      .bar
  .edit-region
    .btn.add-newpage
      .btn-name 增
    .btn.remove-page
      .btn-name 刪
    .btn.save-pdf
      .btn-name 存
    .btn.add-note
      .btn-name 記